<h1>Add New Post</h1>
<form action='new' method='post'>
  <textarea name="message" rows="6" class="form-control"></textarea>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
